receive_and_commit_to_mongodb/noderedflows.json
[{"id":"519aa944.182b2","type":"mongodb","hostname":"172.17.42.1","port":"27017","db":"torque","name":"TorqueDB"},{"id":"2e6d6bb7.4b2d7c","type":"mongodb out","mongodb":"519aa944.182b2","name":"Save To TorqueDB.userdata","collection":"userdata","payonly":true,"upsert":false,"multi":false,"operation":"store","x":852.2499389648438,"y":119.99998474121094,"z":"35a7c7eb.1eb0e8","wires":[]},{"id":"12a8fd6e.477bcb","type":"http in","name":"Create host URL","url":"/torque.php","method":"get","x":86,"y":100,"z":"35a7c7eb.1eb0e8","wires":[["101604ec.26df63","20a29f2c.2a8d1","41a59855.e0b25"]]},{"id":"60cd0096.8c07b","type":"http response","name":"Respond \"OK!\" to Torque","x":554,"y":99,"z":"35a7c7eb.1eb0e8","wires":[]},{"id":"101604ec.26df63","type":"function","name":"Set payload to \"OK!\"","func":"msg.payload = \"OK!\";\nreturn msg;","outputs":1,"x":319,"y":100,"z":"35a7c7eb.1eb0e8","wires":[["60cd0096.8c07b"]]},{"id":"6277b4a0.2c4684","type":"comment","name":"The full URL is http://<hostname>:<nodered-port>/torque.php","info":"aa","x":224,"y":54,"z":"35a7c7eb.1eb0e8","wires":[]},{"id":"1b3b360d.bf180a","type":"inject","name":"Bad Payload","topic":"","payload":"{\"k03\": \"kayohthree test a\",\"k04\": \"kayohfour test b\",\"snarf\":\"bogus\",\"blatt\":\"terrific\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":100.24998474121094,"y":297.5000305175781,"z":"35a7c7eb.1eb0e8","wires":[["d5745565.333868","4d85269.c44d258"]]},{"id":"6266da80.5572fc","type":"debug","name":"","active":false,"console":"false","complete":"false","x":926,"y":226.24998474121094,"z":"35a7c7eb.1eb0e8","wires":[]},{"id":"41a59855.e0b25","type":"function","name":"Process Welsh Names","func":"var newmsg = {};\nnewmsg.payload={};\nvar error = [];\n\n// Warning: there's a risk here that context.global.torqdesc hasn't been initialised from the MongoDB when the first userdata comes in.\n// If that happens, the worst you'll get is a batch of \"UnknownMeasurement\" errors against known values.\n\nObject.getOwnPropertyNames(msg.payload).forEach(function(element) {\n    if (context.global.torqdesc.hasOwnProperty(element)) {newmsg.payload[context.global.torqdesc[element]] = msg.payload[element];}\n    else {\n    \terror.push({payload: { type: \"UnknownMeasurement\", key: element, value: msg.payload[element] }});\n    \tnewmsg.payload[element] = msg.payload[element];\n    }\n});\n\nreturn [newmsg, error];","outputs":"2","x":568.5,"y":249.5,"z":"35a7c7eb.1eb0e8","wires":[["bf978f62.9484d8","c21d5f2b.3836d"],["6c193b0e.946f24","a5b7d484.0ed738"]]},{"id":"d5745565.333868","type":"debug","name":"","active":false,"console":"false","complete":"false","x":272.24998474121094,"y":338.5000305175781,"z":"35a7c7eb.1eb0e8","wires":[]},{"id":"4d85269.c44d258","type":"json","name":"","x":274.24998474121094,"y":297.5000305175781,"z":"35a7c7eb.1eb0e8","wires":[["41a59855.e0b25"]]},{"id":"b19e8a9e.2b2218","type":"debug","name":"","active":false,"console":"false","complete":"false","x":931,"y":317.7499542236328,"z":"35a7c7eb.1eb0e8","wires":[]},{"id":"6c193b0e.946f24","type":"json","name":"","x":781.4999389648438,"y":316.4999542236328,"z":"35a7c7eb.1eb0e8","wires":[["b19e8a9e.2b2218"]]},{"id":"1575e0.d170622","type":"inject","name":"Good Payload","topic":"","payload":"{\"k03\": \"kayohthree test a\",\"k04\": \"kayohfour test b\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":96.24998474121094,"y":338.5000305175781,"z":"35a7c7eb.1eb0e8","wires":[["4d85269.c44d258","d5745565.333868"]]},{"id":"c21d5f2b.3836d","type":"mongodb out","mongodb":"519aa944.182b2","name":"Save To TorqueDB.testdata","collection":"testdata","payonly":true,"upsert":false,"multi":false,"operation":"store","x":852.75,"y":171.4999542236328,"z":"35a7c7eb.1eb0e8","wires":[]},{"id":"a5b7d484.0ed738","type":"mongodb out","mongodb":"519aa944.182b2","name":"Save To TorqueDB.errordata","collection":"errordata","payonly":true,"upsert":false,"multi":false,"operation":"store","x":852,"y":274.24998474121094,"z":"35a7c7eb.1eb0e8","wires":[]},{"id":"bf978f62.9484d8","type":"json","name":"","x":783.25,"y":225.49998474121094,"z":"35a7c7eb.1eb0e8","wires":[["6266da80.5572fc"]]},{"id":"20a29f2c.2a8d1","type":"debug","name":"","active":false,"console":"false","complete":"false","x":243.666748046875,"y":201.33334350585938,"z":"35a7c7eb.1eb0e8","wires":[]},{"id":"29384e8e.5cc242","type":"mongodb in","mongodb":"519aa944.182b2","name":"","collection":"crossref","operation":"find","x":594.166748046875,"y":443.8333435058594,"z":"35a7c7eb.1eb0e8","wires":[["7e7294c5.370264"]]},{"id":"4e43c3b.d8314bc","type":"function","name":"Write _id=torqdesc to crossref collection in DB","func":"var torqdesc = {\"_id\":\"torqdesc\",\"kff5201\":\"MPG (Long-term Avg)\",\"session\":\"Device Session ID\",\"id\": \"Device ID\",\n                \"v\":\"API Version\",\"time\":\"Time\",\"eml\":\"Email address\",\"k03\":\"Fuel system status\",\n                \"k04\":\"Calculated engine load\",\"k05\":\"Engine coolant temp\",\"k06\":\"Short term fuel trim (bank 1)\",\n                \"k07\":\"Long term fuel trim (bank 1)\",\"k08\":\"Short term fuel trim (bank 2)\",\n                \"k09\":\"Long term fuel trim (bank 2)\",\"k0a\":\"Fuel pressure\",\"k0b\":\"Intake manifold absolute pressure\",\n                \"k0c\":\"Engine RPM\",\"k0d\":\"Vehicle speed\",\"k0e\":\"Timing advance\",\"k0f\":\"Intake air temp\",\n                \"k10\":\"Mass air flow rate\",\"k11\":\"Relative throttle position (at manifold)\",\"kff1005\":\"GPS Longitude\",\n                \"kff1006\":\"GPS Latitude\",\"kff1001\":\"GPS Speed\",\"kff1010\":\"GPS Height\",\"kff1007\":\"GPS bearing\",\n                \"kff1201\":\"MPG\",\"kff1202\":\"Turbo Boost\",\"kff1203\":\"Kilometers Per Litre\",\"kff1205\":\"Trip MPG\",\n                \"kff1206\":\"Trip KPL\",\"kff1207\":\"Litres per Kilometre\",\"kff1208\":\"Trip LPK\",\n                \"kff120a\":\"Manifold Vacuum\",\"kff120b\":\"GPS Trip distance\",\"kff120c\":\"Vehicle distance (Odometer)\",\n                \"kff1220\":\"Accelerometer (X)\",\"kff1221\":\"Accelerometer (Y)\",\"kff1222\":\"Accelerometer (Z)\",\n                \"kff1223\":\"Accelerometer (Total)\",\"kff1225\":\"Torque\",\"kff1226\":\"Horsepower\",\"kff122d\":\"0-60 mph time\",\n                \"kff122e\":\"0-100 kph time\",\"kff122f\":\"Quarter mile time\",\"kff1230\":\"eighth mile time\",\n                \"kff1237\":\"GPS vs OBD speed diff\",\"kff1238\":\"Voltage\",\"kff1239\":\"GPS Accuracy\",\n                \"kff123a\":\"GPS Satellites locked\",\"kff123b\":\"GPS bearing\",\"kff1249\":\"AFR\",\"kff1214\":\"O2 Sensor 1x1\",\n                \"kff1215\":\"O2 Sensor 1x2\",\"kff1216\":\"O2 Sensor 1x3\",\"kff1217\":\"O2 Sensor 1x4\",\"kff1218\":\"O2 Sensor 2x1\",\n                \"kff1219\":\"O2 Sensor 2x2\",\"kff121a\":\"O2 Sensor 2x3\",\"kff121b\":\"O2 Sensor 2x4\",\n                \"kff1240\":\"O2 Equivalent Ratio 1\",\"kff1241\":\"O2 Equivalent Ratio 2\",\"kff1242\":\"O2 Equivalent Ratio 3\",\n                \"kff1243\":\"O2 Equivalent Ratio 4\",\"kff1244\":\"O2 Equivalent Ratio 5\",\"kff1245\":\"O2 Equivalent Ratio 6\",\n                \"kff1246\":\"O2 Equivalent Ratio 7\",\"kff1247\":\"O2 Equivalent Ratio 8\",\"kff1257\":\"CO2 in G/KM\",\n                \"kff1258\":\"CO2 in G/KM average\",\"kff125a\":\"Fuel rate\",\"kff125b\":\"Fuel cost (trip)\",\n                \"kff125c\":\"Fuel used (trip)\",\"kff1255\":\"Torque RPM component\",\"kff1256\":\"HorsePower RPM component\",\n                \"kff124d\":\"Commanded AFR\",\"kff1249\":\"Measured AFR\",\"profileName\":\"Car Profile\",\n                \"profileFuelType\":\"Car fuel type\",\"profileWeight\":\"Car weight\",\"profileVe\":\"Volumetric efficiency\",\n                \"profileFuelCost\":\"Fuel cost per litre\",\"defaultUnitff5201\":\"Units for MPG (Long Term Avg)\",\n                \"defaultUnitff1226\":\"Units for Horsepower (at the wheels)\",\"defaultUnitff1001\":\"Units for Speed (GPS)\",\n                \"defaultUnitff124f\":\"Units for 0-200kph time\",\"defaultUnitff1220\":\"Units for Acceleration (X-axis)\",\n                \"defaultUnitff1006\":\"Units for GPS Latitude\",\"defaultUnitff122f\":\"Units for quarter mile time\",\n                \"defaultUnitff1005\":\"Units for GPS Longitude\",\"defaultUnitff123a\":\"Units for GPS Satellites\",\n                \"defaultUnitff1238\":\"Units for Voltage (OBD Adapter)\"};\n                \nmsg.payload = torqdesc;\nreturn msg;","outputs":1,"x":616.166748046875,"y":518.8333435058594,"z":"35a7c7eb.1eb0e8","wires":[["db36f145.f2dc6"]]},{"id":"f0cfae46.2d5258","type":"inject","name":"Auto-refresh descriptions","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":131.166748046875,"y":438.8333435058594,"z":"35a7c7eb.1eb0e8","wires":[["c0b107db.699df"]]},{"id":"d882deb.be7f2a","type":"inject","name":"Click to populate cross reference table in MongoDB","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220.166748046875,"y":491.8333435058594,"z":"35a7c7eb.1eb0e8","wires":[["4e43c3b.d8314bc"]]},{"id":"db36f145.f2dc6","type":"mongodb out","mongodb":"519aa944.182b2","name":"Save To TorqueDB.userdata","collection":"crossref","payonly":true,"upsert":true,"multi":false,"operation":"update","x":949.166748046875,"y":529.8333435058594,"z":"35a7c7eb.1eb0e8","wires":[]},{"id":"69471f8b.f339b","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1131.166748046875,"y":449.8333435058594,"z":"35a7c7eb.1eb0e8","wires":[]},{"id":"c0b107db.699df","type":"template","name":".find({ _id: \"torqdesc\" })","field":"payload","template":"","x":366.166748046875,"y":440.8333435058594,"z":"35a7c7eb.1eb0e8","wires":[["29384e8e.5cc242"]]},{"id":"7e7294c5.370264","type":"function","name":"Populate global variable for descriptions","func":"context.global.torqdesc = {};\ncontext.global.torqdesc = msg.payload[0];\n//msg.payload.forEach(function(element) {\n//    newmsg.push({payload: element });\n//});\nreturn context.global.torqdesc;","outputs":1,"x":893.166748046875,"y":447.8333435058594,"z":"35a7c7eb.1eb0e8","wires":[["69471f8b.f339b"]]}]
